:root {
    --white: #fff;
    --black: #1A1B24;
    --dark-blue: #080F4D;
    --radius-small: 20px;
    --radius-medium: 30px;
    --radius-large: 40px;
    --main-color: #1111FF;
    --blue: #2B66FF;
    --gray: #F4F4F4;
    --main-linear-color: linear-gradient(180deg, rgba(105,137,254,1) 0%, rgba(60,100,244,1) 100%);
}