
<header class="header m-t-20 m-b-40">
  <div class="container">
    <div class="header__inner">
      <button class="header__menu-button"><span> </span><span> </span><span> </span></button><a class="logo" href="/"><img src="./images/logo.svg" alt="Logo"/></a>
      <nav class="header__menu menu">
        <div class="menu__contacts"> 
          <div class="menu__social-media"><a class="menu__social-media-item" href="#" title="Мы в Facebook"> <img src="./images/icons/social-media/facebook.svg" alt="Facebook"/></a><a class="menu__social-media-item" href="#" title="Мы на YouTube"> <img src="./images/icons/social-media/youtube.svg" alt="YouTube"/></a><a class="menu__social-media-item" href="#" title="Мы в Instagram"> <img src="./images/icons/social-media/instagram.svg" alt="Instagram"/></a><a class="menu__social-media-item" href="#" title="Мы в Telegram"> <img src="./images/icons/social-media/telegram.svg" alt="Telegram"/></a></div>
          <div class="menu__email"><img class="menu__email-icon" src="./images/icons/mail.svg" alt="Email" area-label="Написать нам на почту"/><a class="menu__email-item" href="mailto:support@mining.com">support@mining.com</a><a class="menu__email-item" href="mailto:support@mining.com">support@mining.com</a></div>
        </div>
        <ul class="menu__list"> 
          <li class="menu__list-item"><a href="#">Главная</a></li>
          <li class="menu__list-item"><a href="#">Инвесторам</a></li>
          <li class="menu__list-item"><a href="#">Faq</a></li>
          <li class="menu__list-item"><a href="#">О нас</a></li>
          <li class="menu__list-item"><a href="#">Правила</a></li>
          <li class="menu__list-item"><a href="#">Контакты</a></li>
          <li class="menu__list-item button small-button"><a href="#">Перейти в бот</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>