footer.footer.p-b-200.m-t-140
    .container
        .footer__inner 
            nav.footer__menu.menu
                ul.menu__list 
                    li.menu__list-item
                        a(href="#") Главная
                    li.menu__list-item
                        a(href="#") Инвесторам
                    li.menu__list-item
                        a(href="#") Faq
                    li.menu__list-item
                        a(href="#") О нас
                    li.menu__list-item
                        a(href="#") Правила
                    li.menu__list-item
                        a(href="#") Контакты
                .menu__contacts 
                    .menu__social-media
                        a.menu__social-media-item(href="#" title="Мы в Facebook") 
                            img(src="./images/icons/social-media/facebook.svg", alt="Facebook")
                        a.menu__social-media-item(href="#" title="Мы на YouTube") 
                            img(src="./images/icons/social-media/youtube.svg", alt="YouTube")
                        a.menu__social-media-item(href="#" title="Мы в Instagram") 
                            img(src="./images/icons/social-media/instagram.svg", alt="Instagram")
                        a.menu__social-media-item(href="#" title="Мы в Telegram") 
                            img(src="./images/icons/social-media/telegram.svg", alt="Telegram")
                    .menu__email
                        a.menu__email-item(href="mailto:support@mining.com") support@mining.com
                        a.menu__email-item(href="mailto:support@mining.com") support@mining.com
            a.footer__button.button.medium-button(href="#") Зарегистрироватся