header.header.m-t-20.m-b-40
    .container
        .header__inner
            button.header__menu-button
                span 
                span 
                span 
            a.logo(href="/")
                img(src="./images/logo.svg", alt="Logo")
            nav.header__menu.menu
                .menu__contacts 
                    .menu__social-media
                        a.menu__social-media-item(href="#" title="Мы в Facebook") 
                            img(src="./images/icons/social-media/facebook.svg", alt="Facebook")
                        a.menu__social-media-item(href="#" title="Мы на YouTube") 
                            img(src="./images/icons/social-media/youtube.svg", alt="YouTube")
                        a.menu__social-media-item(href="#" title="Мы в Instagram") 
                            img(src="./images/icons/social-media/instagram.svg", alt="Instagram")
                        a.menu__social-media-item(href="#" title="Мы в Telegram") 
                            img(src="./images/icons/social-media/telegram.svg", alt="Telegram")
                    .menu__email
                        img.menu__email-icon(src="./images/icons/mail.svg", alt="Email" area-label="Написать нам на почту")
                        a.menu__email-item(href="mailto:support@mining.com") support@mining.com
                        a.menu__email-item(href="mailto:support@mining.com") support@mining.com
                ul.menu__list 
                    li.menu__list-item
                        a(href="#") Главная
                    li.menu__list-item
                        a(href="#") Инвесторам
                    li.menu__list-item
                        a(href="#") Faq
                    li.menu__list-item
                        a(href="#") О нас
                    li.menu__list-item
                        a(href="#") Правила
                    li.menu__list-item
                        a(href="#") Контакты
                    li.menu__list-item.button.small-button
                        a(href="#") Перейти в бот